<!doctype html>
<html ng-app='ShoppingListCheckOff'>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bootstrap.min.css"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">
    
    <!--To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as itemAdder'>
     <h2>To Buy:</h2>
      
     <ul>
       <li ng-repeat="item in itemAdder.shoppingList2">Name: {{item.name}} , Quantity: {{item.quantity}}
         <button class="btn btn-default" ng-click="moveItem(itemAdder.shoppingList2, shoppingList2, bought)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul> 
      
     <div ng-hide="itemAdder.shoppingList2.length" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as boughtItem'>
     <h2>Already Bought:</h2>
     <ul>
       <li>Bought <span ng-bind="boughtItem.boughtItem.length"></span> 10 cookies</li>
      
       <li ng-repeat="item in boughtItem.boughtList">Name: {{item.name}} , Quantity: {{item.quantity}}</li>
     </ul>
      <div ng-hide="boughtItem.boughtItem.boughtList.length" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
    
</div>
</body>
</html>
